<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clustering</title>
</head>
<body>
<h1>Add an Application Server for: <span th:text="${server}"></span></h1>

<p th:text="${errorMessage}"></p>

<form method="post" th:object="${serverApplication}">
    <label for="serverApp">Application Server</label>
    <select id="serverApp" th:field="*{serverApplicationType}">
        <option th:each="serverApp: ${serverApplicationList}" th:value="${serverApp.getId()}" th:text="${serverApp}"></option>
    </select> <br>

    <label for="path">Deployment path</label>
    <input type="text" id="path" th:field="*{deploymentPath}"> <br>

    <label for="port">Port</label>
    <input type="text" id="port" th:field="*{port}"> <br>

    <input type="submit">
</form>

</body>
</html>