<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clustering</title>
</head>
<body>

<h1>Add a transfert method for ...</h1>
<form>
    <label for="transfertMethod">Type</label>
    <select id="transfertMethod">
        <option>SSH</option>
        <option>FTP</option>
    </select> <br>

    <label for="username">Username</label>
    <input type="text" id="username"> <br>

    <label for="password">Password</label>
    <input type="text" id="password"> <br>

    <label for="port">Port</label>
    <input type="text" id="port"> <br>

    <input type="submit">
</form>

</body>
</html>