<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clustering</title>
</head>
<body>

<h1>Add a transfert method for: <span th:text="${server}"></span></h1>

<p th:text="${errorMessage}"></p>

<form method="post" th:object="${transfertMethod}">
    <label for="transfertMethodType">Type</label>
    <select id="transfertMethodType" th:field="*{transfertMethodType}">
        <option th:each="tr: ${transfertMethodTypes}"
                th:value="${tr}"
                th:text="${tr}"></option>
    </select> <br>

    <label for="username">Username</label>
    <input type="text" id="username" th:field="*{username}"> <br>

    <label for="password">Password</label>
    <input type="text" id="password" th:field="*{password}"> <br>

    <label for="port">Port</label>
    <input type="text" id="port" th:field="*{port}"> <br>

    <input type="submit">
</form>

</body>
</html>
