<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clustering</title>
</head>
<body>

<h1>Add a server</h1>
<form>
    <label for="name">Name</label>
    <input type="text" id="name"> <br>

    <label for="os">OS</label>
    <select id="os">
        <option></option>
    </select> <br>

    <label for="ip">IP</label>
    <input type="text" id="ip"> <br>

    <input type="submit">
</form>

</body>
</html>