<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clustering</title>
</head>
<body>

<h1>Add an Application Server for ...</h1>
<form>
    <label for="appType">Application Server</label>
    <select id="appType">
        <option>Tomcat</option>
        <option>Wildfly</option>
    </select> <br>

    <label for="path">Deployment path</label>
    <input type="text" id="path"> <br>

    <label for="port">Port</label>
    <input type="text" id="port"> <br>

    <input type="submit">
</form>

</body>
</html>