<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head(title='Server')}"></head>

<body class="layout-boxed">

<div class="page">
  <header th:replace="~{fragments/navbar}"></header>
  <header th:replace="~{fragments/menu}"></header>

  <div class="page-wrapper">
    <!-- Page header -->
    <div th:replace="~{fragments/page_header ::
            pageHeader(
                pageTitle='Manage your server'
            )}">
    </div>

    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <!-- Content here -->

        <div class="row row-cards mb-5">
          <div class="col-12">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <a class="btn btn-primary" th:href="@{/servers}">
                  <i class="fa-solid fa-arrow-left mx-2"></i>
                </a>
                <div>
                  <a class="btn btn-azure mx-2" th:href="@{/servers/{id}/server-apps/add (id=${server.getId()})}">
                    Add a server app
                    <i class="fa-solid fa-plus mx-2"></i>
                  </a>
                  <a class="btn btn-bitbucket" th:href="@{/servers/{id}/transfert-methods/add (id=${server.getId()})}">
                    Add a transfert method
                    <i class="fa-solid fa-plus mx-2"></i>
                  </a>
                </div>
              </div>

              <div class="card-body">
                <div class="row row-cards">
                  <div class="col-6">
                    <div class="col-12">
                      <div class="mb-3">
                        <label class="form-label">
                          Status:
                          <span th:if="${server.isReachable()}" class="badge bg-success">
                              active <i class="fa-solid fa-check mx-1"></i>
                          </span>
                          <span th:unless="${server.isReachable()}" class="badge bg-danger">
                              down <i class="fa-solid fa-triangle-exclamation mx-1"></i>
                          </span>
                        </label>
                        <h2 th:text="${server}" ></h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 d-flex flex-column justify-content-end">
                        <div class="mb-3">
                          <label class="form-label">OS</label>
                          <h3 class="bg bg-pink-lt pt-2 pb-2 text-center">
                            <i th:class="${server.getOperatingSystem().getIcon() + ' fa-lg'}"></i>
                          </h3>
                        </div>
                      </div>
                      <div class="col-3 d-flex flex-column justify-content-end">
                        <div class="mb-3">
                          <label class="form-label">Server App</label>
                          <h3 th:text="${server.getServerApplications().size()}" class="bg bg-azure-lt pt-2 pb-2 text-center">
                          </h3>
                        </div>
                      </div>
                      <div class="col-3 d-flex flex-column justify-content-end">
                        <div class="mb-3">
                          <label class="form-label">Deployed App</label>
                          <h3 th:text="${deploymentList.size()}" class="bg bg-purple-lt pt-2 pb-2 text-center">
                          </h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-3 mb-0">
                        <span th:if="${server.isLoadBalancer()}">
                          <i class="fa-solid fa-network-wired"></i>
                          HaProxy available
                          <a class="btn btn-ghost-dribbble btn-sm" th:href="@{/servers/{id}/haproxy/frontends/add (id=${server.getId()})}">
                            Add a frontend</a>
                          <a class="btn btn-ghost-facebook btn-sm" th:href="@{/servers/{serverId}/haproxy/backends/add (serverId=${server.getId()})}">
                            Add a backend</a>
                          <a class="btn btn-ghost-twitter btn-sm" th:href="@{/servers/{serverId}/haproxy/backends (serverId=${server.getId()})}">
                            Manage backends</a>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="text-end text-secondary">
                      <i class="fa-10x fa-solid fa-server"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="row mb-5" th:if="${server.isLoadBalancer()}">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="space-y-4">

                  <div>
                    <h3 class="mb-3">
                        HaProxy config
                        <i class="fa-solid fa-network-wired mx-2"></i>
                    </h3>
                    <div id="faq-4" class="accordion" role="tablist" aria-multiselectable="true">

                      <div class="accordion-item" th:each="serv, stat: ${server.getHaProxy().getHaProxyCfg().getHaProxyFrontEnds()}">
                        <div class="accordion-header" role="tab">
                          <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-4-1" aria-expanded="false">
                            <span class="badge bg-purple mx-2">Frontend</span>
                            <span th:text="${serv.getName()}"></span>
                          </button>
                        </div>
                        <div id="faq-4-1" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-4" style="">
                          <div class="accordion-body pt-0">
                            <ul class="list-group">
                              <li class="list-group-item">
                                Bind: <span th:text="${serv.getBind()}" class="fw-bolder"></span>
                              </li>
                              <li class="list-group-item">
                                Backend: <span th:text="${serv.getDefault_backend()}" class="fw-bolder"></span>
                              </li>
                            </ul>
                            <div class="text-end">
                              <a class="btn btn-outline-danger mt-1"
                                 th:href="@{/servers/{serverId}/haproxy/frontends/delete/{frontendName} (serverId=${server.getId()}, frontendName=${serv.getName()})}">
                                Supprimer
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item" th:each="serv, stat: ${server.getHaProxy().getHaProxyCfg().getHaProxyBackEnds()}">
                        <div class="accordion-header" role="tab">
                          <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-5-1" aria-expanded="false">
                            <span class="badge bg-azure mx-2">Backend</span>
                            <span th:text="${serv.getName()}"></span>
                          </button>
                        </div>
                        <div id="faq-5-1" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-5" style="">
                          <div class="accordion-body pt-0">
                            <ul class="list-group">
                              <li class="list-group-item">
                                Balance type: <span th:text="${serv.getBalance()}" class="fw-bolder"></span>
                              </li>
                              <li class="list-group-item">
                                Servers <br>
                                <ul>
                                  <li th:each="sv: ${serv.getHaProxyServers()}">
                                    <span th:text="${sv}"></span>
                                    <a th:href="@{/servers/{serverId}/haproxy/backends/{backendName}/delete/{serverName} (serverId=${server.getId()}, backendName=${serv.getName()}, serverName=${sv.getName()})}"
                                       class="text-danger">
                                      <i class="fa-solid fa-minus"></i>
                                    </a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                            <div class="text-end">
                              <a class="btn btn-outline-danger mt-1"
                                 th:href="@{/servers/{serverId}/haproxy/backends/delete/{backendName} (serverId=${server.getId()}, backendName=${serv.getName()})}">
                                Supprimer
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="row mb-5" th:unless="${deploymentList.isEmpty()}">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="space-y-4">

                  <div>
                    <h3 class="mb-3">
                      Deployed applications
                      <i class="fa-solid fa-rocket mx-2"></i>
                    </h3>
                    <div id="faq-3" class="accordion" role="tablist" aria-multiselectable="true">

                      <div class="accordion-item" th:each="depl, stat: ${deploymentList}">
                        <div class="accordion-header" role="tab">
                          <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-1" aria-expanded="false">
                            <span th:text="${depl.getBuild().getRepository()}"></span>
                            (<a th:href="${depl.getLink()}" th:text="${depl.getLink()}"></a>)
                          </button>
                        </div>
                        <div id="faq-3-1" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-3" style="">
                          <div class="accordion-body pt-0">
                            <ul class="list-group">
                              <li class="list-group-item">
                                Git url: <span th:text="${depl.getBuild().getGitUrl()}" class="fw-bolder"></span>
                              </li>
                              <li class="list-group-item">
                                Status:
                                <span th:if="${depl.getStatus() == depl.getStatus().DEPLOYED}" th:text="${depl.getStatus()}" class="badge bg-success"></span>
                                <span th:if="${depl.getStatus() == depl.getStatus().DEPLOYING}" th:text="${depl.getStatus()}" class="badge bg-warning"></span>
                                <span th:if="${depl.getStatus() == depl.getStatus().FAILED}" th:text="${depl.getStatus()}" class="badge bg-danger"></span>
                                <span th:unless="${depl.getStatus() == depl.getStatus().DEPLOYED || depl.getStatus() == depl.getStatus().DEPLOYING || depl.getStatus() == depl.getStatus().FAILED}" th:text="${depl.getStatus()}" class="badge bg-secondary"></span>
                              </li>
                              <li class="list-group-item">
                                Artifact: <span th:text="${depl.getArtifactFile()}" class="fw-bolder"></span>
                              </li>
                              <li class="list-group-item">
                                Time: <span th:text="${depl.getDatetime()}" class="fw-bolder"></span>
                              </li>
                              <li class="list-group-item">
                                Remarks: <span th:text="${depl.getDeploymentMessage()}" class="fw-bolder"></span>
                              </li>
                            </ul>
                            <div class="text-end">
                              <a class="btn btn-outline-danger mt-1" th:href="@{/servers/{serverId}/deployments/{deplId}/delete (serverId=${serverId}, deplId=${depl.getId()})}">
                                Supprimer
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-5" th:unless="${server.getTransfertMethods().isEmpty()}">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="space-y-4">

                  <div>
                    <h3 class="mb-3">
                      Transfert method capabilities
                      <i class="fa-solid fa-arrow-right-arrow-left mx-2"></i>
                    </h3>
                    <div id="faq-1" class="accordion" role="tablist" aria-multiselectable="true">

                      <div class="accordion-item" th:each="tm, stat: ${server.getTransfertMethods()}">
                        <div class="accordion-header" role="tab">
                          <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-1" aria-expanded="false"
                                  th:text="${tm.transfertMethodType}">
                          </button>
                        </div>
                        <div id="faq-1-1" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-1" style="">
                          <div class="accordion-body pt-0">
                            <ul class="list-group">
                              <li class="list-group-item">
                                Username: <span th:text="${tm.getUsername()}" class="fw-bolder"></span>
                              </li>
                              <li class="list-group-item">
                                Port: <span th:text="${tm.getPort()}" class="fw-bolder"></span>
                              </li>
                            </ul>
                            <div class="text-end">
                              <a class="btn btn-outline-danger mt-1" th:href="@{/servers/{serverId}/transfert-methods/{tmId}/delete (serverId=${serverId}, tmId=${tm.getId()})}">
                                Supprimer
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-5" th:unless="${server.getServerApplications().isEmpty()}">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="space-y-4">

                  <div>
                    <h3 class="mb-3">
                      Server applications
                      <i class="fa-solid fa-clapperboard mx-2"></i>
                    </h3>
                    <div id="faq-2" class="accordion" role="tablist" aria-multiselectable="true">

                      <div class="accordion-item" th:each="svApp, stat: ${server.getServerApplications()}">
                        <div class="accordion-header" role="tab">
                          <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-1" aria-expanded="false"
                                  th:text="${svApp}">
                          </button>
                        </div>
                        <div id="faq-2-1" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-2" style="">
                          <div class="accordion-body pt-0">
                            <ul class="list-group">
                              <li class="list-group-item">
                                Deployment Path: <span th:text="${svApp.getDeploymentPath()}" class="fw-bolder"></span>
                              </li>
                              <li class="list-group-item">
                                Port: <span th:text="${svApp.getPort()}" class="fw-bolder"></span>
                              </li>
                            </ul>
                            <div class="text-end">
                              <a class="btn btn-outline-danger mt-1" th:href="@{/servers/{serverId}/server-apps/{svId}/delete (serverId=${serverId}, svId=${svApp.getId()})}">
                                Supprimer
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- Page footer -->
    <footer th:replace="~{fragments/footer}"></footer>
  </div>
</div>

<script th:replace="~{fragments/script}"></script>
</body>

</html>