<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head(title='Add build')}"></head>

<body class="layout-boxed">

<div class="page">
    <header th:replace="~{fragments/navbar}"></header>
    <header th:replace="~{fragments/menu}"></header>

    <div class="page-wrapper">
        <!-- Page header -->
        <div th:replace="~{fragments/page_header :: pageHeader(pageTitle='Add a new build')}"></div>

        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <!-- Content here -->

                <div class="row">
                    <div class="col-12">
                        <form class="card" th:object="${build}" method="post" id="form">
                            <div class="card-header">
                                <a th:href="@{/deployments}" class="btn btn-primary">
                                    Show all builds
                                    <i class="fa-solid fa-list mx-2"></i>
                                </a>
                            </div>

                            <div class="card-body">

                                <p class="text-danger" th:text="${errorMessage}"></p>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Git url</label>
                                            <input type="text" class="form-control" required th:field="*{gitUrl}" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Build System</label>
                                            <select class="form-select select2" th:field="*{buildType}" required id="build_sys">
                                                <option th:each="bt: ${buildTypes}" th:value="${bt}" th:text="${bt}"></option>
                                            </select> <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Artifact</label>
                                            <select class="form-select select2" th:field="*{artifactType}" required>
                                                <option th:each="at: ${artifactTypes}" th:value="${at}" th:text="${at}"></option>
                                            </select> <br>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="for_manual">
                                    <div class="col-4">
                                        <div class="mb-3">
                                            <label class="form-label">web.xml file</label>
                                            <input type="text" class="form-control" required th:field="*{webXmlPath}" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mb-3">
                                            <label class="form-label">Source files</label>
                                            <input type="text" class="form-control" required th:field="*{srcPath}" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mb-3">
                                            <label class="form-label">Webapp resource</label>
                                            <input type="text" class="form-control" required th:field="*{webappPath}" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer d-flex justify-content-end">
                                <button type="button" class="btn btn-success" onclick="handleSubmit()">
                                    Add build
                                    <i class="fa-solid fa-plus mx-1"></i>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>


        <div class="modal modal-blur fade" id="modal-danger" tabindex="-1" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-status bg-success"></div>
                    <div class="modal-body text-center py-4">
                        <i class="icon mb-2 text-success icon-lg fa-solid fa-lg fa-exclamation-circle"></i>
                        <div class="text-muted">We are cloning your repository.<br>Do not close this window, it can take a while</div>
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-indeterminate bg-green"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page footer -->
        <footer th:replace="~{fragments/footer}"></footer>
    </div>
</div>

<script th:replace="~{fragments/script}"></script>
<script>
    function handleSubmit() {
        if ($('#form').valid()) {
            $('#modal-danger').modal('show');
            setTimeout(function () {
                $('#form').submit();
            }, 1000);
        } else {
            $('#form').validate();
        }
    }

    // if build system is manual, show for_manual div
    $(document).ready(function() {
        function showMore() {
            if ($('#build_sys').val() === 'MANUAL') {
                $('#for_manual').show();
            } else {
                $('#for_manual').hide();
            }
        }
        $('#build_sys').change(showMore);
        showMore();
    });
</script>
</body>

</html>

