<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clustering</title>
</head>
<body>

<h1>Add a deployment</h1>

<p th:text="${errorMessage}"></p>

<form method="post" th:object="${build}">
    <label for="gitUrl">Git url</label>
    <input type="text" id="gitUrl" th:field="*{gitUrl}"> <br>

    <label for="buildType">Build system</label>
    <select id="buildType" th:field="*{buildType}">
        <option th:each="bt: ${buildTypes}" th:value="${bt}" th:text="${bt}"></option>
    </select>

    <label for="artifactType">Artifact</label>
    <select id="artifactType" th:field="*{artifactType}">
        <option th:each="at: ${artifactTypes}" th:value="${at}" th:text="${at}"></option>
    </select>

    <input type="submit">
</form>

</body>
</html>