<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head(title='Deploy')}"></head>

<body class="layout-boxed">

<div class="page">
    <header th:replace="~{fragments/navbar}"></header>
    <header th:replace="~{fragments/menu}"></header>

    <div class="page-wrapper">
        <!-- Page header -->
        <div th:replace="~{fragments/page_header :: pageHeader(pageTitle='Deploy: ' + ${build.getGitUrl()})}"></div>

        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <!-- Content here -->

                <div class="row">
                    <div class="col-12">
                        <form class="card" id="form" method="post">
                            <div class="card-header">
                                <a th:href="@{/deployments}" class="btn btn-primary">
                                    Show all builds
                                    <i class="fa-solid fa-list mx-2"></i>
                                </a>
                            </div>

                            <div class="card-body">

                                <p class="text-danger" th:text="${errorMessage}"></p>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Config file</label>
                                            <select id="configFile" name="configFile" onchange="getFileContent(this.value)" class="form-select select2">
                                                <option>None</option>
                                                <option th:each="configFile:${configFileList}" th:value="${configFile.getName()}"
                                                        th:text="${configFile.getFileName()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Content</label>
                                            <textarea id="configFileContent" name="configFileContent" class="form-control" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <table id="table" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Server name</th>
                                                    <th>Ip</th>
                                                    <th>Application server</th>
                                                    <th>Transfert method</th>
                                                    <th>Check</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="server: ${serverList}">
                                                    <td th:text="${server.getName()}"></td>
                                                    <td th:text="${server.getIpv4()}"></td>
                                                    <td>
                                                        <select name="serverApp[]" required disabled class="form-select select2">
                                                            <option th:each="serverApp: ${server.getServerApplications()}"
                                                                    th:value="${serverApp.getId()}"
                                                                    th:text="${serverApp}"
                                                                    th:if="${serverApp.getServerApplicationType().getName() != 'HaProxy'}">
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="transfertMethod[]" required disabled class="form-select select2">
                                                            <option  th:each="transfertMethod: ${server.getTransfertMethods()}"
                                                                     th:value="${transfertMethod.getId()}"
                                                                     th:text="${transfertMethod}">
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" name="server[]" th:value="${server.getId()}" onchange="checkServer(this)">
                                                            <span class="form-check-label"></span>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Server name</th>
                                                    <th>Ip</th>
                                                    <th>Application server</th>
                                                    <th>Transfert method</th>
                                                    <th>Check</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer d-flex justify-content-end">
                                <button type="button" class="btn btn-success" onclick="handleSubmit()">
                                    Deploy
                                    <i class="fa-solid fa-rocket mx-1"></i>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>


        <div class="modal modal-blur fade" id="modal-danger" tabindex="-1" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-status bg-success"></div>
                    <div class="modal-body text-center py-4">
                        <i class="icon mb-2 text-success icon-lg fa-solid fa-lg fa-exclamation-circle"></i>
                        <div class="text-muted">We are deploying your application.<br>Do not close this window, it can take a while</div>
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-indeterminate bg-green"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page footer -->
        <footer th:replace="~{fragments/footer}"></footer>
    </div>
</div>

<script th:replace="~{fragments/script}"></script>
<script>
    function getFileContent(file) {
        let xhr = new XMLHttpRequest();
        let form = new FormData();
        form.append('file', file);
        xhr.open('POST', '/api/get_content', false);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200)
                document.getElementById('configFileContent').value = xhr.responseText;
            else
                document.getElementById('configFileContent').value = '';
        }
        xhr.send(form);
    }

    function checkServer(checkbox) {
        let server = checkbox.parentNode.parentNode.parentNode.parentNode;
        if (checkbox.checked) {
            server.querySelectorAll('select').forEach(
                function (select) {
                    select.disabled = false;
                }
            );
        } else {
            server.querySelectorAll('select').forEach(
                function (select) {
                    select.disabled = true;
                }
            );
        }
    }

    function handleSubmit() {
        if ($('#form').valid()) {
            $('#modal-danger').modal('show');
            setTimeout(function () {
                $('#form').submit();
            }, 1000);
        } else {
            $('#form').validate();
        }
    }
</script>
</body>

</html>

